
!--.ewk_sobra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: auto;

}

.ewk_cont_banner1{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("./img/GOPR2209.jpg");
}

.ewk_cont_banner2{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("./img/GOPR2242.jpg");
}